/*
* Theme Name: BusiprofChild
* ThemeParent URI: https://webriti.com/busiprof-premium-wordpress-theme-1/
* Description: Busiprof WordPress Theme is a fully responsive and translation-ready theme that allows you to create stunning blogs and websites. The theme is well suited for companies, law firms,ecommerce, finance, agency, travel, photography, recipes, design, arts, personal and any other creative websites and blogs. The theme is developed using Bootstrap 3 that makes it mobile and tablet friendly. It has various options in the WordPress Customizer to change the look of the theme. The theme customizer can be used to add your own favicon, logo, feature slide, services, 2 testimonial slider, blog, callout and much more. In the premium version you can add unlimited slides. There are a number of in-built widgets and support for various popular plugins like WPML, the Polylang Translation WordPress Plugin, Woocommerce and Contact Form 7. 10 beautifully designed templates like About Us, Services, Portfolio 2/3/4 column, Portfolio with Category, Portfolio Archive, Blog Left/Right Sidebar, Blog Fullwidth, Full Width Page, Contact Us and many useful sections for business using the Homepage template. Busiprof theme comes with various Locales. Just navigate to Appearance / Customize to start customizing.  
* Version: 1.9.6
* Author: Alfonso Mateos
* License: GNU General Public License v3.0
* License URI: http://www.gnu.org/licenses/gpl.html
* Copyright (c) 2013 Webriti. All rights reserved.
* http://www.webriti.com
* Text Domain: 	BusiprofChild
* Slug: busiprof 	
* Template: busiprof
*/
/* Additional css 
-------------------------------------------------- */
/* Navbar Menus Style */


@import url("../busiprof/style.css");

body.modal-open {
    overflow: hidden;
}

/*
.proyecto-hover:hover{
    transform: scale(2.5,2.5);
    transition: 1s;
    position: absolute;
    z-index: 1;
    
    position: fixed; 
    top: 40%;
    left: 40%;
}

*/