<style>
		h1,
		h2,
		h3,
		h4,
		h5{color:#ea5b0c;font-family:Arial, Verdana, Sans Serif}

		h1{font-size:22px;}
		h2{font-size:18px;margin:25px 0 15px 0;text-transform:none;}
		h3{font-size:16px;margin:15px 0 15px 0;text-transform:none;}
		h4{font-size:14px;}
		h5{font-size:14px;}
		p{font-size:13px;font-family:Arial, Verdana, Sans Serif !important}
		li{font-size:13px;font-family:Arial, Verdana, Sans Serif !important}

		.MsoListParagraphCxSpFirst,
		.MsoListParagraphCxSpMiddle,
		.MsoListParagraphCxSpLast{margin-bottom:10px;text-indent: 0 !important;}

		ul{list-style-type: disc; font-size:13px; margin:20px auto 20px 30px;}
		ul ul{list-style-type: circle;}
		ul ul ul{list-style-type: square;}
		ol{list-style-type: decimal; font-size:13px; margin:20px auto 20px 30px;}
		span{font-family:inherit !important;color:inherit !important;font-size:inherit !important;line-height: inherit !important;}
		b,
		strong{font-family:inherit !important;color:inherit !important;font-size:inherit !important;}
		</style><h1>Contrato de Hosting</h1><p class="ref_contrato">Ref.: HOSPS_230518</p><p><em></em></p><p>De una parte, Tesys Internet S.L.U. (en adelante identificada con su marca Piensa Solutions) con NIF: B-26309096 y domicilio social en la C/ Circunde n&ordm; 16, Pol&iacute;gono Industrial La Portalada, de Logro&ntilde;o (La Rioja), Espa&ntilde;a, Sociedad de Responsabilidad Limitada Unipersonal constituida en Logro&ntilde;o ante el notario D. Eloy Men&eacute;ndez-Santirso Su&aacute;rez, inscrita en el Registro Mercantil de La Rioja, tomo 477, libro 0, folio 76, secci&oacute;n 8, Hoja LO-7211.</p><p>De otra parte, el contratante (en adelante cliente), Alfonso Mateos con NIF: 53813078R representada para este acto por D. Alfonso Mateos. El contratante declara conocer y aceptar libremente, tras informarse del servicio y su funcionamiento, el presente contrato.</p><p>Nombre de dominio: atrezzomateos.com.</p><p>Ambas partes, Piensa Solutions y cliente, est&aacute;n interesadas en formalizar el presente contrato aceptando los t&eacute;rminos y condiciones establecidos en las siguientes</p><h2>CL&Aacute;USULAS</h2><h3>1&ordm; DEFINICIONES</h3><p>Contrato: contiene las cl&aacute;usulas recogidas en este documento, as&iacute; como toda informaci&oacute;n adicional que sobre el Plan particular de Hosting contratado se recoge de manera actualizada en la web <a href="http://www.piensasolutions.com/" data-mce-href="http://www.piensasolutions.com/">http://www.piensasolutions.com/</a>.</p><p>Nombre de Dominio (ND): conjunto de caracteres que identifica un sitio de la red Internet con una direcci&oacute;n (IP).</p><p>Planes de Hosting: espacio en los servidores de Piensa Solutions donde el cliente administra los recursos propios del Plan contratado. Los Planes de Hosting sometidos a las condiciones de este contrato ofrecen un servicio de alojamiento compartido.</p><p>Servidores: equipos inform&aacute;ticos ofrecidos por Piensa Solutions donde se alojan los datos y la informaci&oacute;n que el cliente desarrolla en los Planes de Hosting.</p><p>Panel de control: herramienta inform&aacute;tica que se adjudica con cada Plan de Hosting y que permite al cliente gestionar los recursos y aplicaciones de los que dispone el Plan contratado, as&iacute; como activar otros recursos adicionales, en aquellos Planes de Hosting que lo permitan.</p><p>&Aacute;rea de Cliente (AC): Se trata de una herramienta inform&aacute;tica que se adjudica a cada cliente, que le permite controlar y gestionar los servicios contratados, la facturaci&oacute;n de los mismos, as&iacute; como efectuar altas, bajas y modificaciones de los Planes de Hosting, acceder al panel de control y realizar consultas, sugerencias y reclamaciones de forma autenticada y de manera que cada acci&oacute;n genere un n&uacute;mero de ticket que posibilite al cliente su identificaci&oacute;n y conocer su estado.</p><p>Login y contrase&ntilde;a: se trata de un sistema de autentificaci&oacute;n para el acceso al &Aacute;rea de Cliente que garantiza que el acceso a esta herramienta sea segura, fiable, veraz y siempre provenga de los clientes.</p><h3>2&ordm; OBJETO</h3><p>El presente contrato tiene por objeto regular las condiciones en las que el cliente accede y utiliza el Plan de Hosting de Piensa Solutions elegido, as&iacute; como fijar las condiciones y forma de remuneraci&oacute;n del cliente a Piensa Solutions.</p><h3>3&ordm; PLANES DE HOSTING REGULADOS POR ESTE CONTRATO</h3><p>3.1 Las condiciones recogidas en este contrato ser&aacute;n de aplicaci&oacute;n a los siguientes Planes:</p><p>- Correo Basic</p><p>- Plan Basic</p><p>- Plan Premium</p><p>- Plan Unlimited</p><p>3.2 Las caracter&iacute;sticas t&eacute;cnicas de cada uno de los planes de hosting, expresadas en el apartado anterior, vienen determinadas en este contrato y en su Anexo y se encuentran permanentemente actualizadas en la p&aacute;gina web de Piensa Solutions.</p><p>En este Anexo se recogen, tambi&eacute;n, las ampliaciones disponibles para cada Plan de Hosting.</p><p>3.3 Piensa Solutions se reserva el derecho de modificar las caracter&iacute;sticas y condiciones de los Planes de Hosting regulados por este contrato. Para ello no deber&aacute; cumplir m&aacute;s formalidad que la de publicar en su p&aacute;gina dicha modificaci&oacute;n, informando al cliente con un aviso on-line y/o remitirlo por correo electr&oacute;nico.</p><p>El cliente, una vez le sea comunicada la modificaci&oacute;n correspondiente, dispone del plazo de 7 d&iacute;as para resolver el contrato si no estuviera de acuerdo con las nuevas circunstancias, obteniendo la devoluci&oacute;n del pago de la parte proporcional no consumida. Ahora bien, pasado este plazo sin comunicaci&oacute;n en contrario, se entender&aacute; que acepta las nuevas condiciones y, por lo tanto, la baja antes del vencimiento no dar&aacute; lugar a devoluci&oacute;n alguna, salvo en aquellos casos en los que la legislaci&oacute;n vigente prevea lo contrario.</p><p>3.4 El funcionamiento del Plan de Hosting elegido requiere, generalmente, disponer de un ND. La regulaci&oacute;n de los ND se regir&aacute; por su normativa y su contrato correspondiente.</p><p>3.5 El tiempo m&aacute;ximo de disponibilidad de los mensajes almacenados en las carpetas "Trash o Papelera" y "Spam" de las cuentas de correo, ser&aacute; de 30 d&iacute;as, contados desde el momento de su recepci&oacute;n en dicha cuenta, de forma que Piensa Solutions no se responsabiliza de la permanencia de estos mensajes una vez superado dicho plazo.</p><p>3.6 El cliente, desde el AC, podr&aacute; cambiar a otro Plan de Hosting de entre los ofrecidos por Piensa Solutions, superior o inferior al que tuviese.</p><p>3.7 Los Planes Basic, Premium y Unlimited acogidos a este contrato se ofrecen bajo el sistema operativo LINUX.</p><p>3.8 Entre los recursos del Plan Unlimited el cliente dispone de la posibilidad de activar de forma gratuita un Certificado de Seguridad Basic SSL powered by Symantec desde su Panel de Control. El cliente &uacute;nicamente podr&aacute; disponer de un Certificado de Seguridad Basic SSL gratuito por cada Plan Unlimited contratado.</p><p>Para la activaci&oacute;n del Certificado de Seguridad Basic SSL, el dominio asociado debe estar registrado en Piensa Solutions. Si el dominio se encuentra registrado en Piensa Solutions, pero las DNS asociadas al mismo no son gestionadas por &eacute;sta, el cliente deber&aacute; crear las entradas correspondientes en su proveedor de DNS siguiendo las indicaciones facilitadas por Piensa Solutions.</p><p>El cliente reconoce y acepta que no ser&aacute; posible disponer de m&aacute;s de un Certificado SSL asociado al mismo dominio. En aquellos casos en los que el dominio elegido por el cliente ya tuviese asociado un Certificado de Seguridad (SSL), de entre los ofrecidos por Piensa Solutions, se proceder&aacute; a la desinstalaci&oacute;n del Certificado actual y a la instalaci&oacute;n del nuevo Certificado, siendo el cliente el encargado de salvaguardar y transferir la informaci&oacute;n almacenada en los mismos. No obstante y pese a su desactivaci&oacute;n, el Certificado permanecer&aacute; dado de alta mientras el cliente no proceda a su baja desde su AC, o finalice su periodo de validez sin haber sido renovado.</p><p>Ser&aacute; la Entidad Certificadora quien determine los criterios de asignaci&oacute;n del Certificado de Seguridad Basic SSL, siendo por tanto la concesi&oacute;n o no de dicho Certificado responsabilidad exclusiva de esta Entidad.</p><p>El Certificado de Seguridad Basic SSL ser&aacute; activado por defecto con los datos de Piensa Solutions, quien se encargar&aacute; de su solicitud, instalaci&oacute;n y gesti&oacute;n, mientras el mismo permanezca activo.</p><p>Una vez activado por el cliente y validado por la Entidad Certificadora, Piensa Solutions proceder&aacute; a la instalaci&oacute;n del Certificado. El cliente deber&aacute; tener en cuenta que, una vez instalado, el Certificado no se podr&aacute; descargar.</p><p>El Certificado de Seguridad Basic SSL permanecer&aacute; activo mientras el cliente no proceda a su desinstalaci&oacute;n desde el Panel de Control asociado al Plan de Hosting. El cliente deber&aacute; responsabilizarse de las consecuencias de cualquier tipo que se pudieran derivar  por dicha desinstalaci&oacute;n.</p><p>Piensa Solutions no asumir&aacute; responsabilidad alguna por fallos producidos en la utilizaci&oacute;n del Certificado, en los casos en que los mismos sean debidos a causas exclusivamente imputables al cliente o a la Entidad Certificadora.</p><p>El Certificado de Seguridad Basic SSL ser&aacute; renovado autom&aacute;ticamente por Piensa Solutions, salvo en los casos en los que las DNS del dominio no sean gestionadas por Piensa Solutions, en cuyo caso el cliente ser&aacute; el encargado de la renovaci&oacute;n desde su Panel de Control.</p><p>3.9 Aquellos recursos que se ofrecen de forma ilimitada en los Planes de Hosting, est&aacute;n dise&ntilde;ados para una utilizaci&oacute;n racional de los mismos y acorde con la finalidad de un Plan de Hosting de dichas caracter&iacute;sticas.</p><p>En consecuencia, Piensa Solutions se reserva el derecho de establecer algunos l&iacute;mites t&eacute;cnicos a los mencionados recursos en los siguientes casos:</p><p>La transferencia ser&aacute; ilimitada en cualquier de los Planes de Hosting objeto del presente Contrato, con la &uacute;nica excepci&oacute;n de que en los casos en que se detecte un consumo excesivo de la misma (al alcanzar 250 GB/mes), se proceder&aacute; a limitar el ancho de banda a 1MBPS durante el tiempo restante hasta finalizar el mes natural en curso. A comienzos del primer d&iacute;a siguiente del mes natural, comenzar&aacute; a contabilizarse de nuevo el volumen de transferencia.</p><p>Respecto al espacio en disco ocupable de forma inmediata, &eacute;ste ser&aacute; de 50 GB en el caso del Plan Premium y de 100 GB en el caso del Plan Unlimited. No obstante, en aquellos casos en que la ocupaci&oacute;n del espacio se realice de forma gradual, al alcanzar un umbral de utilizaci&oacute;n del 75% del espacio web disponible en este momento, &eacute;ste se incrementar&aacute; autom&aacute;tica y gratuitamente en escalas de 5 GB/diarios hasta que la utilizaci&oacute;n vuelva a estar por debajo del 75%, siendo el espacio m&aacute;ximo total disponible de 100 GB en el caso del Plan Premium y de 200 GB en el Plan Unlimited. La comprobaci&oacute;n de la utilizaci&oacute;n se realizar&aacute; diariamente y el incremento tendr&aacute; lugar como m&aacute;ximo una vez al d&iacute;a.</p><p>El n&uacute;mero de buzones de correo ser&aacute; ilimitado en el Plan Unlimited, hasta que se alcance un volumen total de ocupaci&oacute;n de espacio de 150GB entre todos ellos, teniendo en cuenta que el espacio m&aacute;ximo de cada buz&oacute;n ser&aacute; de 2 GB, aunque es posible contratar ampliaciones adicionales de espacio para los mismos.</p><p>El n&uacute;mero de bases de datos que el cliente podr&aacute; dar de alta en el Plan Unlimited ser&aacute; ilimitado hasta que se alcance un volumen total de ocupaci&oacute;n de espacio de 50GB entre todas ellas, teniendo en cuenta que el espacio m&aacute;ximo de cada base de datos ser&aacute; de 1GB. Las conexiones a las bases de datos solo podr&aacute;n efectuarse desde IP's propias de PiensaSolutions.</p><p>En aquellos casos en que los mencionados l&iacute;mites sean superados, Piensa Solutions proceder&aacute; a la suspensi&oacute;n temporal del recurso afectado hasta su subsanaci&oacute;n por parte del cliente, en cuyo caso, ser&aacute; restaurado al d&iacute;a siguiente de haberse producido esta.</p><h3>4&ordm; PRECIO Y FORMA DE PAGO</h3><p>4.1 El alta en el Plan de Hosting contratado es gratuita.</p><p>4.2 Por la disponibilidad del Plan de Hosting contratado, el cliente pagar&aacute; a Piensa Solutions el precio correspondiente que se recoge en este contrato y en su anexo y siempre actualizado en www.piensasolutions.com.</p><p>En el anexo se determinar&aacute;, adem&aacute;s, el precio de las ampliaciones disponibles para el Plan de Hosting elegido.</p><p>4.3 La periodicidad de pago de los Planes de Hosting ser&aacute; trimestral o anual, seg&uacute;n cual haya sido la elecci&oacute;n del cliente, durante la contrataci&oacute;n, de entre las ofrecidas por Piensa Solutions para cada Plan de Hosting y recogidas en el anexo de este contrato.</p><p>No obstante, en el caso de Correo Basic, la periodicidad ser&aacute; siempre anual.Las ampliaciones contratadas para los Planes de Hosting tendr&aacute;n la misma periodicidad (trimestral o anual) que tenga el Plan de Hosting al que se asocien, excepto en el caso de los Certificados de Seguridad (SSL), que son anuales.</p><p>4.4 Forma de pago: El pago de los Planes de Hosting ser&aacute; siempre por adelantado en el momento de su contrataci&oacute;n y se realizar&aacute; mediante tarjeta de cr&eacute;dito o transferencia bancaria.</p><p>La renovaci&oacute;n de los Planes de Hosting tambi&eacute;n se abonar&aacute; por adelantado, mediante domiciliaci&oacute;n bancaria en la cuenta corriente facilitada por el cliente (m&eacute;todo recomendado) o a trav&eacute;s de tarjeta de cr&eacute;dito.</p><p>En el caso de las ampliaciones, su forma de pago ser&aacute; mediante tarjeta de cr&eacute;dito o transferencia bancaria en su primera contrataci&oacute;n y su renovaci&oacute;n se realizar&aacute; de forma autom&aacute;tica mediante domiciliaci&oacute;n bancaria (m&eacute;todo recomendado) o a trav&eacute;s de tarjeta de cr&eacute;dito.</p><p>Los datos necesarios para realizar la transferencia bancaria se facilitan en el formulario de contrataci&oacute;n cuando se elige esta opci&oacute;n de pago, en todo caso esta informaci&oacute;n le ser&aacute; remitida por correo electr&oacute;nico.</p><p>El pago por transferencia bancaria lleva un cargo adicional de 2 euros m&aacute;s IVA en concepto de gastos de gesti&oacute;n. Adem&aacute;s el cliente deber&aacute; remitir por fax, al n&uacute;mero 941 20 26 96, el justificante de pago.</p><p>Tanto para nuevas contrataciones como para la renovaci&oacute;n de los productos existentes, el cliente autoriza expresamente a Piensa Solutions a realizar los cargos de las cantidades correspondientes, en aquellos casos en los que la forma de pago seleccionada sea domiciliaci&oacute;n bancaria o tarjeta de cr&eacute;dito, conforme a los datos indicados en el formulario de contrataci&oacute;n.</p><p>Piensa Solutions no iniciar&aacute; las gestiones relativas a la solicitud correspondiente mientras no reciba el importe de estos servicios a trav&eacute;s de los medios de pago indicados en cada caso.</p><p>El cliente, desde su AC, podr&aacute; solicitar en cualquier momento la modificaci&oacute;n de la forma de pago y/o sus datos asociados.</p><p>4.5 Por cada devoluci&oacute;n bancaria que se produzca por causas imputables al cliente, Piensa Solutions cobrar&aacute; una tarifa adicional de 3 euros.</p><p>4.6 Las cantidades mencionadas a lo largo de este contrato, en su anexo y en la p&aacute;gina web de Piensa Solutions no incluyen el Impuesto sobre el Valor A&ntilde;adido (IVA). No obstante, el cliente deber&aacute; abonar el IVA que corresponda al producto contratado</p><p>4.7 Piensa Solutions se reserva el derecho a suspender la prestaci&oacute;n del servicio contratado ante cualquier incidencia experimentada en el cobro hasta la resoluci&oacute;n de la misma. Si el cliente no procediera a su pago despu&eacute;s del previo aviso y de la suspensi&oacute;n temporal causar&aacute; baja definitiva el servicio por incumplimiento del contrato por su parte.</p><p>La desactivaci&oacute;n por impago supondr&aacute; la eliminaci&oacute;n de todos los datos asociados al Plan de Hosting. Si el cliente vuelve a contratar dicho Plan, deber&aacute; dar de alta de nuevo todos los datos.</p><p>La falta de pago de las ampliaciones, citadas en el Anexo de este contrato, ocasionar&aacute; la interrupci&oacute;n del Plan de Hosting al que vayan asociados.</p><p>4.8 Piensa Solutions se reserva el derecho a modificar el precio de los Planes de Hosting regulados por este contrato. En dicho caso, se notificar&aacute; al cliente tal modificaci&oacute;n antes de que se vea afectado por la variaci&oacute;n en la siguiente factura que se le emita, de manera que si no estuviera de acuerdo en aceptar dicho cambio ejercite el derecho a resolver el presente contrato causando la baja del servicio en el momento que finalice el periodo que tuviera pagado.</p><p>4.9 El cliente podr&aacute; realizar, a trav&eacute;s de su AC, cualquier consulta o solicitud relacionada con la facturaci&oacute;n y pago del servicio contratado, as&iacute; como acceder al repositorio de facturas emitidas, que le permite su impresi&oacute;n y descarga.</p><p>4.10 En el caso de que el cliente tuviera la consideraci&oacute;n de consumidor y usuario de acuerdo a la normativa espa&ntilde;ola vigente, podr&aacute; ejercer su derecho de desistimiento durante los 14 primeros d&iacute;as naturales desde la contrataci&oacute;n del servicio.</p><p>Para ello, el consumidor y usuario deber&aacute; enviar, en el plazo de 14 d&iacute;as naturales contados desde el momento de la contrataci&oacute;n, una solicitud desde el AC donde aparezca la siguiente informaci&oacute;n:</p><p>- Su clara e inequ&iacute;voca voluntad de ejercer su derecho de desistimiento.</p><p>- El nombre exacto del servicio del que desea desistir.</p><p>- La fecha en la que contrat&oacute; dicho servicio.</p><p>Adicionalmente, el consumidor y usuario podr&aacute; ejercer su derecho de desistimiento a trav&eacute;s del modelo de formulario que incorpora el Real Decreto Legislativo 1/2007, de 16 de noviembre, por el que se aprueba el texto refundido de la Ley General para la Defensa de los Consumidores y Usuarios y otras leyes complementarias. Para ello, deber&aacute; hacerlo llegar a Piensa Solutions debidamente firmado, acompa&ntilde;ado de fotocopia de su NIF como medio que asegure inequ&iacute;vocamente que la solicitud proviene del propio cliente.</p><p>Piensa Solutions asignar&aacute; y enviar&aacute; al cliente un n&uacute;mero de ticket por cada solicitud de desistimiento que reciba. En el caso de que la solicitud hubiera sido recibida en el plazo legalmente establecido y estuviera cumplimentada de forma completa y correcta, Piensa Solutions la tramitar&aacute; dando de baja el servicio correspondiente. Asimismo, Piensa Solutions proceder&aacute; a reembolsar al cliente, en el plazo m&aacute;ximo de 14 d&iacute;as naturales desde que hubiera recibido la solicitud de desistimiento, el precio que &eacute;ste abon&oacute; al contratar el servicio.El cliente deber&aacute; tener en cuenta las excepciones que la legislaci&oacute;n espa&ntilde;ola vigente en materia de consumidores y usuarios establece para el derecho de desistimiento.</p><p>4.11 El cliente dispondr&aacute; de un plazo de treinta (30) d&iacute;as naturales a partir de la fecha de alta inicial del Plan de Hosting para resolver el presente contrato sin incurrir en penalizaci&oacute;n ni gasto alguno, no se aplicar&aacute; este plazo de garant&iacute;a a las renovaciones del contrato.</p><p>La garant&iacute;a cubre el importe del servicio principal, quedando excluidos otros conceptos como ampliaciones y/o servicios adicionales contratados con posterioridad a la contrataci&oacute;n inicial.</p><p>Tras el ejercicio de este derecho, Piensa Solutions reintegrar&aacute; al cliente la cuant&iacute;a abonada por la prestaci&oacute;n del Plan de Hosting; en ning&uacute;n caso podr&aacute; reintegrar al cliente la cuant&iacute;a desembolsada en concepto de registro del nombre de dominio debido a que por la naturaleza de la prestaci&oacute;n es imposible llevarlo a cabo, ya que el nombre de dominio continuar&aacute; siendo propiedad del titular a cuyo nombre se obtiene. <br>Dicho reintegro no tendr&aacute; lugar en aquellos casos en los que sea imposible realizarlo debido a la naturaleza del servicio. Tampoco se proceder&aacute; a dicho integro en los supuestos en los que el cliente hubiera disfrutado del servicio, ni en los supuestos de incumplimiento de los t&eacute;rminos del contrato por parte del cliente</p><p>Fuera del plazo de garant&iacute;a al que se refiere este apartado, el cliente no tiene derecho a devoluci&oacute;n alguna por el cese voluntario y anticipado del plan contratado, exceptuando aquellos casos en los que la legislaci&oacute;n vigente as&iacute; lo prevea.</p><p>Este plazo de garant&iacute;a no es acumulable en ning&uacute;n caso al derecho de desistimiento mencionado en la cl&aacute;usula 4.10 y que la legislaci&oacute;n espa&ntilde;ola vigente reconoce a los clientes que, conforme a la misma, tuvieran la consideraci&oacute;n de consumidores y usuarios. En este sentido, el derecho de desistimiento se entiende incluido en los primeros 14 d&iacute;as del plazo de garant&iacute;a.</p><p>4.12 Piensa Solutions remite sus facturas de manera telem&aacute;tica con plena validez legal ya que utiliza para ello el certificado clase 2 A, aceptado por la AEAT, de la F&aacute;brica Nacional de Moneda y Timbre, cumpliendo la normativa vigente en esta materia y, por lo tanto, garantizando la autenticidad del origen y la integridad del contenido.</p><h3>5&ordm; ENTRADA EN VIGOR, DURACI&Oacute;N Y PR&Oacute;RROGA</h3><p>5.1 El presente contrato entra en vigor en el momento de su formalizaci&oacute;n, es decir, cuando el cliente finaliza la contrataci&oacute;n de su Plan de Hosting y tiene la posibilidad de acceder al mismo, comenzando Piensa Solutions a prestar el servicio a partir de dicho momento.</p><p>5.2 El contrato tendr&aacute; duraci&oacute;n trimestral o anual, dependiendo del plazo de facturaci&oacute;n elegido por el cliente en el formulario de contrataci&oacute;n, a partir de la formalizaci&oacute;n del contrato y se prorrogar&aacute; de forma autom&aacute;tica por id&eacute;nticos periodos de tiempo.</p><p>No obstante lo anterior, en el caso del servicio Correo Basic, la duraci&oacute;n del contrato ser&aacute; anual, prorrog&aacute;ndose de forma autom&aacute;tica anualmente.</p><p>En cada renovaci&oacute;n t&aacute;cita no se enviar&aacute; copia del contrato actual, entendi&eacute;ndose siempre vigente el publicado en ese momento en la p&aacute;gina Web que recoge la versi&oacute;n m&aacute;s actual</p><p>5.3 El contrato no se dar&aacute; por finalizado mientras el cliente no proceda a dar de baja el Plan de Hosting desde el apartado "servicios" del AC. La baja se producir&aacute; en el plazo m&aacute;ximo de 48 horas desde la fecha de tramitaci&oacute;n por el cliente, lo que deber&aacute; ser tenido en cuenta para evitar la p&eacute;rdida de la informaci&oacute;n alojada en el servidor.</p><p>La baja voluntaria de un servicio, producida con anterioridad al vencimiento pagado, no supone la devoluci&oacute;n de la parte proporcional no consumida, excepto en aquellos casos en los que la legislaci&oacute;n vigente prevea lo contrario.</p><p>5.4 Las ampliaciones para el Plan de hosting contratado pueden activarse o desactivarse en cualquier momento mientras el Plan de hosting se encuentre activo y al corriente del pago; ahora bien si una ampliaci&oacute;n tiene un coste mensual adicional, el hecho de desactivarla antes de que venza el mes pagado por adelantado no supone la devoluci&oacute;n de la parte proporcional no consumida, salvo en aquellos supuestos en los que la legislaci&oacute;n vigente prevea lo contrario.</p><h3>6&ordm; OBLIGACIONES Y RESPONSABILIDADES DE PIENSA SOLUTIONS</h3><p>6.1 En sus relaciones con el cliente, Piensa Solutions deber&aacute; actuar con la diligencia debida en el uso de su actividad comercial, lealmente y de buena fe.</p><p>6.2 Piensa Solutions no puede garantizar que la disponibilidad de los Planes de Hosting sea continua e ininterrumpida durante el periodo de vigencia del contrato, debido a la posibilidad de problemas en la red Internet, aver&iacute;as en los equipos servidores que son compartidos y otras posibles contingencias imprevisibles.</p><p>6.3 Piensa Solutions se reserva el derecho a interrumpir el Plan contratado en funci&oacute;n de reparaciones t&eacute;cnicas y de mantenimiento de los equipos, as&iacute; como para la mejora de los propios servicios.</p><p>6.4 Por lo tanto, el cliente acepta soportar dentro de los l&iacute;mites razonables riesgos e imperfecciones o indisponibilidad de los servidores y renuncia expresamente a reclamar cualquier responsabilidad, contractual o extracontractual, da&ntilde;os y perjuicios a Piensa Solutions por posibles fallos, lentitud o errores en el acceso y uso del Plan contratado, sin perjuicio de lo dispuesto en la legislaci&oacute;n vigente.</p><p>6.5 Piensa Solutions no es responsable de aquello que le sea exclusivamente imputable al cliente. El acceso y uso de los Planes de Hosting es responsabilidad exclusiva del cliente, de tal manera que Piensa Solutions no se hace responsable de ninguna manera (ni directa ni subsidiaria) de cualquier da&ntilde;o directo o indirecto, que el cliente pudiera ocasionar a terceros.</p><p>6.6 No obstante todo lo anterior, si Piensa Solutions incumpliera los compromisos asumidos en este contrato por prestar un servicio ineficiente durante un periodo ininterrumpido superior a 24 horas, la responsabilidad de Piensa Solutions se limitar&aacute; a la devoluci&oacute;n del dinero cobrado por el Plan de Hosting afectado durante dicho periodo de interrupci&oacute;n calculado de manera proporcional.</p><p>6.7 En ning&uacute;n caso Piensa Solutions acepta responsabilidades derivadas de p&eacute;rdidas de datos, interrupci&oacute;n de negocio o cualesquiera otros perjuicios producidos por el funcionamiento de los Planes de Hosting por no cumplir estos con las expectativas del cliente.</p><p>6.8 Piensa Solutions realiza copias de seguridad, sin embargo no se responsabiliza de la p&eacute;rdida o del borrado accidental de los datos. De igual manera, no se garantiza la reposici&oacute;n total de estos datos debido a que en el tiempo transcurrido entre la &uacute;ltima copia y el borrado, los datos han podido cambiar. El Plan de Hosting contratado no incorpora en el precio la reposici&oacute;n de los contenidos salvados a trav&eacute;s de las copias de seguridad realizadas por Piensa Solutions cuando esta p&eacute;rdida sea provocada por causa imputable al cliente; la reposici&oacute;n s&oacute;lo queda incluida en el precio del Plan cuando la p&eacute;rdida del contenido sea debida a causas atribuibles a Piensa Solutions</p><p>6.9 Los Planes de Hosting est&aacute;n compartiendo equipos con otros servicios de igual naturaleza. Por este motivo, Piensa Solutions se reserva el derecho a suspender, total o parcialmente, el cumplimiento del contrato en el caso de que advierta, detecte y/o compruebe en sus labores de mantenimiento un consumo excesivo de memoria, de CPU o cualquier otra alteraci&oacute;n que ralentice el servidor en el que se encuentra ubicado, de tal manera que perjudique o conlleve un menoscabo en la prestaci&oacute;n del servicio o de los derechos de los clientes o terceros que con &eacute;l comparten el servidor.</p><p>6.10 Piensa Solutions no se responsabiliza:</p><p>- Del contenido alojado en el espacio atribuido al cliente por el Plan de Hosting.</p><p>- De los errores producidos por los proveedores de acceso.</p><p>- De la contaminaci&oacute;n por virus en sus equipos, cuya protecci&oacute;n incumbe al cliente.</p><p>- De las intrusiones de terceros en el Plan del cliente aunque se hayan establecido medidas razonables de protecci&oacute;n.</p><p>- De la configuraci&oacute;n defectuosa por parte del cliente.</p><p>- De los deterioros de los equipos (terminales del cliente) o mal uso (responsabilidad del cliente).</p><p>6.11 Como consecuencia de la naturaleza de los sistemas Antispam b&aacute;sico y Filtro Antivirus Antispam Avanzado, Piensa Solutions no se hace responsable, ni acepta, ninguna reclamaci&oacute;n del cliente o de un tercero, por el rechazo de alg&uacute;n mensaje de correo electr&oacute;nico leg&iacute;timo (tanto entrante como saliente), debido, entre otros motivos, a la posible concurrencia con medios t&eacute;cnicos externos de los que disponga el propio cliente.</p><p>6.12 Piensa Solutions, con el objetivo de mejorar constantemente la calidad y seguridad de sus productos, proceder&aacute; a actualizar peri&oacute;dicamente las versiones de los sistemas operativos que instale en sus servidores, las cuales estar&aacute;n disponibles preferentemente en espa&ntilde;ol y en caso de no ser posible, en ingl&eacute;s.</p><p>6.13 Piensa Solutions ofrece, exclusivamente, en idioma castellano, los contratos de sus productos, la documentaci&oacute;n adicional sobre los nombres de dominio, el procedimiento de contrataci&oacute;n y toda la informaci&oacute;n publicada en su p&aacute;gina web.</p><p>6.14 Al finalizar el procedimiento de contrataci&oacute;n, Piensa Solutions almacena en formato electr&oacute;nico, una copia del correo electr&oacute;nico que recibe el cliente, con el contrato personalizado del producto.</p><h3>7&ordm; OBLIGACIONES Y RESPONSABILIDAD DEL CLIENTE</h3><p>7.1 El cliente debe cumplir con todos los t&eacute;rminos y condiciones de este contrato en el ejercicio de su actividad profesional, adem&aacute;s deber&aacute; actuar lealmente y de buena fe.</p><p>7.2 El cliente debe satisfacer la remuneraci&oacute;n pactada, tal y como se recoge en la cl&aacute;usula 4 de este contrato.</p><p>7.3 El cliente no utilizar&aacute; el Plan contratado de una manera contraria a la buena fe, al orden p&uacute;blico y a la legislaci&oacute;n vigente.</p><p>7.4 Mediante la contrataci&oacute;n de este Plan, el cliente se compromete a:</p><p>- Guardar por su cuenta una copia de seguridad de los archivos de los Planes de Hosting con el fin de reponerlos si fuese necesario.</p><p>- Vigilar el tama&ntilde;o de la transferencia con el fin de evitar que sufra consecuencias su servicio al realizar un consumo excesivo de la misma. Para tal fin, el cliente dispone en el Panel de Control de las llamadas "tablas de consumo". Los sistemas de Piensa Solutions identifican la transferencia consumida por cada Plan de Hosting, evaluando la informaci&oacute;n de los ficheros de log del servidor web.</p><p>- El cliente se obliga a mantener operativa, activa y actualizada la direcci&oacute;n e-mail proporcionada en el formulario de contrataci&oacute;n para las comunicaciones con Piensa Solutions, ya que constituye el medio de comunicaci&oacute;n preferente para la gesti&oacute;n &aacute;gil y fluida en la prestaci&oacute;n del Plan solicitado. Si el cliente quiere cambiar la direcci&oacute;n e-mail facilitada en el formulario de contrataci&oacute;n como direcci&oacute;n de contacto deber&aacute; hacerlo a trav&eacute;s del AC, con las medidas propias de autentificaci&oacute;n de dicha petici&oacute;n, de manera que en ning&uacute;n momento quede interrumpida la comunicaci&oacute;n entre ambas partes contratantes.</p><p>- Piensa Solutions se exonera de toda responsabilidad por las consecuencias que la falta de operatividad de la direcci&oacute;n e-mail del cliente o de la falta de comunicaci&oacute;n que el cambio de direcci&oacute;n no actualizado pueda producir, as&iacute; como por la desinformaci&oacute;n que alegue el cliente debido a su propia negligencia a la hora de mantener activo este dato.</p><p>7.5 El cliente es el &uacute;nico responsable de la utilizaci&oacute;n y conservaci&oacute;n del login y contrase&ntilde;a del AC ya que son los identificadores necesarios para el acceso a esta herramienta y que permiten contrastar a Piensa Solutions la autentificaci&oacute;n del acceso del cliente y facilitar el permiso a las actuaciones que se soliciten. El uso de estos identificadores y la comunicaci&oacute;n, incluso a terceras personas, se produce bajo la &uacute;nica responsabilidad del cliente.</p><p>7.6 El AC permite al cliente realizar, de forma autenticada, gestiones sobre los servicios contratados, como consultar sus datos como cliente de Piensa Solutions, acceder a las facturas emitidas, realizar consultas, sugerencias y reclamaciones, etc. El cliente podr&aacute; identificar y conocer el estado de cada acci&oacute;n realizada a trav&eacute;s de su AC mediante el ticket que Piensa Solutions asigna a cada una de dichas acciones.</p><p>7.7 El cliente tiene la total responsabilidad del contenido de su web, de la informaci&oacute;n transmitidas y almacenadas, de sus explotaciones, de los enlaces de hipertexto, de las reivindicaciones de terceros y de las acciones legales que pueden desencadenar. En definitiva, el cliente es responsable respecto de las leyes y reglamentos en vigor y las reglas que tienen que ver con el funcionamiento del plan on line, comercio electr&oacute;nico, derechos de autor, mantenimiento del orden p&uacute;blico, as&iacute; como principios universales de uso de internet.</p><p>7.8 Se proh&iacute;be el uso de los Planes de Hosting de forma contraria a la buena fe y, en particular, de forma no exhaustiva:</p><p>- La utilizaci&oacute;n que resulte contraria a las leyes espa&ntilde;olas o que infrinja los derechos de terceros.</p><p>- La publicaci&oacute;n o la transmisi&oacute;n de cualquier contenido que resulte violento, obsceno, abusivo, ilegal, xen&oacute;fobo o difamatorio.</p><p>- Los cracks, n&uacute;meros de serie de programas o cualquier otro contenido que vulnere derechos de la propiedad intelectual de terceros.</p><p>- La recogida y/o utilizaci&oacute;n de datos personales de otros usuarios sin su consentimiento expreso o contraviniendo lo dispuesto en el Reglamento (UE) 2016/679, del Parlamento Europeo y del Consejo, de 27 de abril de 2016 (en adelante RGPD).</p><p>- La utilizaci&oacute;n del servidor de correo y/o de sus direcciones de correo electr&oacute;nico con fines de spam, mail bombing, phishing, escrow fraud, scam 419, pharming, difusi&oacute;n de virus (troyanos, gusanos, etc.), o cualquier otro tipo de actividad realizada con &aacute;nimo saboteador, fraudulento o delictivo.</p><p>7.9 El cliente indemnizar&aacute; a Piensa Solutions por los gastos que &eacute;sta tuviera por imputarle en alguna causa cuya responsabilidad fuera atribuible al cliente, incluidos honorarios y gastos de los abogados de Piensa Solutions, incluso en el caso de decisi&oacute;n judicial no definitiva.</p><p>7.10 Debido a que los Planes de Hosting est&aacute;n compartiendo equipos el cliente debe desarrollar y/o administrar su Plan de Hosting respetando los est&aacute;ndares t&eacute;cnicos dispuestos por Piensa Solutions. En caso contrario ser&aacute; de aplicaci&oacute;n lo dispuesto en cl&aacute;usula 6.9.</p><p>7.11 El cliente, en virtud del presente contrato, no adquiere absolutamente ning&uacute;n derecho o licencia a prop&oacute;sito del Plan de Hosting, de los programas de ordenador necesarios para la prestaci&oacute;n del servicio ni tampoco sobre la informaci&oacute;n t&eacute;cnica de seguimiento del servicio, excepci&oacute;n hecha de los derechos y licencias necesarios para el cumplimiento del presente contrato y &uacute;nicamente para la duraci&oacute;n del mismo. Para toda actuaci&oacute;n que se exceda del cumplimiento de este contrato necesitar&aacute; autorizaci&oacute;n por escrito por parte de Piensa Solutions.</p><p>7.12 El cliente reconoce y acepta la posibilidad de que de forma excepcional, y como consecuencia de la naturaleza de los sistemas Antispam b&aacute;sico y Filtro Antivirus Antispam Avanzado, pueda producirse el rechazo de alg&uacute;n mensaje de correo electr&oacute;nico leg&iacute;timo (entrante o saliente), exonerando a Piensa Solutions de cualquier tipo de responsabilidad al respecto.</p><p>7.13 El cliente, con la aceptaci&oacute;n del presente contrato, consiente expresamente el env&iacute;o de las facturas relativas a la prestaci&oacute;n del Plan de Hosting contratado a trav&eacute;s de medios telem&aacute;ticos, tal y como se&ntilde;ala la normativa vigente en esta materia.</p><p>7.14 Las comunicaciones entre el cliente y el personal de Piensa Solutions deber&aacute;n observar la adecuada correcci&oacute;n en las formas.</p><p>8&ordm; FUERZA MAYOR</p><p>Ninguna de las partes ser&aacute; responsable por el incumplimiento de las obligaciones derivadas del contrato cuando dicho incumplimiento se deba a causas de Fuerza Mayor. Si la suspensi&oacute;n en la prestaci&oacute;n del servicio por esta circunstancia es superior a 2 meses este contrato se podr&aacute; cancelar a petici&oacute;n de cualquiera de las partes.</p><h3>9&ordm; TERMINACI&Oacute;N</h3><p>9.1 El contrato finalizar&aacute; cuando, adem&aacute;s de las causas legalmente establecidas y las dispuestas en las distintas cl&aacute;usulas de este contrato, concurra alguna de las siguientes:</p><p>- Mutuo Acuerdo de las partes.</p><p>- Finalizaci&oacute;n del per&iacute;odo inicial de duraci&oacute;n o de las sucesivas pr&oacute;rrogas.</p><p>- Resoluci&oacute;n por incumplimiento de alguna de las partes de las obligaciones derivadas del Contrato.</p><p>9.2 Si el incumplimiento del cliente fuera la causa de resoluci&oacute;n del contrato, Piensa Solutions se reserva el derecho a terminar de forma anticipada el presente contrato y, por lo tanto, a desposeer al cliente del servicio sin previo aviso, sin derecho a indemnizaci&oacute;n ni a devoluci&oacute;n de cantidad alguna.</p><p>9.3 En caso de rescisi&oacute;n del contrato, por las causas anteriormente citadas o cualesquiera otras admitidas en derecho, el cliente deber&aacute; cumplir las obligaciones asumidas con anterioridad a la resoluci&oacute;n del contrato frente a Piensa Solutions y frente a terceros.</p><h3>10&ordm; CONFIDENCIALIDAD</h3><p>10.1. Toda informaci&oacute;n o documentaci&oacute;n que cualquiera de las partes aporte a la otra en desarrollo y ejecuci&oacute;n del presente contrato se considerar&aacute; confidencial y exclusiva de quien lo aporte y no podr&aacute; comunicarse a terceros sin su consentimiento.</p><p>10.2 Las partes excluyen de la categor&iacute;a de informaci&oacute;n confidencial toda aquella informaci&oacute;n que sea divulgada por la parte que la posea, aquella que se convierta en p&uacute;blica, aquella que haya de ser revelada de acuerdo con las leyes o con una resoluci&oacute;n judicial o acto imperativo de autoridad competente y aquella que sea obtenida por un tercero que no se encuentre bajo la obligaci&oacute;n de confidencialidad alguna.</p><p>10.3 Esta obligaci&oacute;n de confidencialidad persiste hasta dos (2) a&ntilde;os despu&eacute;s de finalizar este contrato. Ninguna de las partes adquirir&aacute; ning&uacute;n derecho sobre cualquier informaci&oacute;n confidencialidad u otros derechos de propiedad de la otra parte como resultado de este contrato.</p><h3>11&ordm; POL&Iacute;TICA DE PROTECCI&Oacute;N DE DATOS DE CAR&Aacute;CTER PERSONAL</h3><p>11.1 Objeto y &aacute;mbito de aplicaci&oacute;n.</p><p>Tesys Internet S.L.U. (en adelante, Piensa Solutions), en cumplimiento del Reglamento (UE) 2016/679, del Parlamento Europeo y del Consejo, de 27 de abril de 2016 (RGPD), pone de manifiesto la presente Pol&iacute;tica en relaci&oacute;n al tratamiento de los datos personales.</p><p>Esta Pol&iacute;tica ser&aacute; aplicable:</p><ul><li>A los usuarios que visiten la p&aacute;gina web de Piensa Solutions (<a href="http://www.piensasolutions.com/" data-mce-href="http://www.piensasolutions.com/">http://www.piensasolutions.com/</a>).</li><li>A quienes, de forma voluntaria, se pongan en contacto con Piensa Solutions a trav&eacute;s de correo electr&oacute;nico, chat o que cumplimenten uno de los formularios de recogida de datos publicados en la p&aacute;gina web de Piensa Solutions.</li><li>A quienes soliciten informaci&oacute;n sobre los servicios de Piensa Solutions, o soliciten formar parte de alguna de las acciones comerciales de la misma.</li><li>A quienes contraten alguno de los servicios de Piensa Solutions, formalizando la correspondiente relaci&oacute;n contractual.</li><li>A quienes utilicen cualquier otro servicio presente en el sitio web <a href="http://www.piensasolutions.com/" data-mce-href="http://www.piensasolutions.com/">http://www.piensasolutions.com/</a> si ello implica la comunicaci&oacute;n de datos personales a Piensa Solutions o el acceso a datos por Piensa Solutions para prestar sus servicios.</li><li>A cualesquiera otros que otorguen su consentimiento expreso, directa o indirectamente, para que sus datos sean tratados por Piensa Solutions en relaci&oacute;n a cualquiera de las finalidades indicadas en esta Pol&iacute;tica.</li></ul><p>El usuario y/o cliente asume la responsabilidad de la veracidad de los datos por &eacute;l facilitados, comprometi&eacute;ndose a que los mismos sean ciertos y se encuentren actualizados, no pudiendo utilizar la identidad de otra persona ni comunicar sus datos de car&aacute;cter personal salvo que acredite disponer de una autorizaci&oacute;n con validez legal. A tales efectos, el usuario y/o cliente ser&aacute; el &uacute;nico responsable frente a cualquier da&ntilde;o, directo y/o indirecto que cause a terceros o a Piensa Solutions por el uso de datos de car&aacute;cter personal de otro titular sin su previa autorizaci&oacute;n, o sus propios datos de car&aacute;cter personal cuando estos sean falsos, err&oacute;neos, no est&eacute;n actualizados o resulten inadecuados. El usuario y/o cliente que comunique los datos de car&aacute;cter personal de un tercero ser&aacute; responsable de haber recabado el consentimiento del propio interesado, as&iacute; como de las consecuencias en caso contrario.</p><p>El usuario y/o cliente que comunique datos personales a Piensa Solutions manifiesta ser mayor de edad conforme a lo dispuesto en la legislaci&oacute;n espa&ntilde;ola, no debiendo proporcionar en caso contrario datos a Piensa Solutions. Cualquier dato facilitado por un menor de edad requerir&aacute; del consentimiento o autorizaci&oacute;n previa de sus padres, tutores o representantes legales, quienes ser&aacute;n responsables de los datos personales facilitados por los menores a su cargo.</p><p>La presente Pol&iacute;tica ser&aacute; de aplicaci&oacute;n subsidiaria en relaci&oacute;n a otras condiciones sobre la recogida o tratamiento de datos personales que pudieran establecerse con car&aacute;cter especial y ser comunicadas a trav&eacute;s de formularios de registro o de los contratos de los servicios particulares, siendo esta Pol&iacute;tica complementaria de las mencionadas en aquello que no estuviera previsto expresamente en las mismas.</p><p>La utilizaci&oacute;n de los servicios de Piensa Solutions requiere la aceptaci&oacute;n expresa de la presente Pol&iacute;tica de protecci&oacute;n de datos.</p><p>11.2 Fines de la recogida y tratamiento de los datos por Piensa Solutions.</p><p>Piensa Solutions dispone de varios ficheros donde recoge y almacena los datos personales que le son comunicados en su condici&oacute;n de responsable del tratamiento. A continuaci&oacute;n se indican las finalidades de la recogida y tratamiento de datos personales por parte de Piensa Solutions:</p><ul><li>En lo relativo a las &ldquo;cookies&rdquo;, utilizadas por Piensa Solutions en la navegaci&oacute;n de su p&aacute;gina web <a href="http://www.piensasolutions.com/" data-mce-href="http://www.piensasolutions.com/">http://www.piensasolutions.com/</a> y que se almacenan en el equipo del usuario (ordenador o dispositivo m&oacute;vil) recopilando informaci&oacute;n sobre dichas visitas, la finalidad es mejorar la usabilidad de dicha p&aacute;gina web, facilitar la navegaci&oacute;n por la misma, conocer los h&aacute;bitos y necesidades de navegaci&oacute;n de los usuarios para poder adaptarse a ellos y obtener informaci&oacute;n con fines estad&iacute;sticos. En el caso de los usuarios que sean clientes de Piensa Solutions, la informaci&oacute;n recabada a trav&eacute;s de las cookies sirve tambi&eacute;n para su identificaci&oacute;n al acceder a las herramientas que Piensa Solutions pone a su disposici&oacute;n para gestionar los servicios contratados.<br>Los usuarios pueden configurar su navegador para que bien les notifique la recepci&oacute;n de "cookies", o bien evitarla. Si el usuario decidiera retirar el consentimiento para la recepci&oacute;n de cookies despu&eacute;s de haberlo otorgado, deber&aacute; eliminar todas aqu&eacute;llas almacenadas en su equipo y configurar las opciones de los diferentes navegadores. La navegaci&oacute;n por la p&aacute;gina web de Piensa Solutions una vez deshabilitada la recogida de cookies es posible, aunque la utilizaci&oacute;n de algunos servicios podr&aacute; sufrir limitaciones. Los interesados pueden consultar m&aacute;s informaci&oacute;n en la Pol&iacute;tica de cookies de Piensa Solutions, publicada en <a href="https://www.piensasolutions.com/legal" data-mce-href="https://www.piensasolutions.com/legal">https://www.piensasolutions.com/legal</a>.</li><li>En el caso de que los interesados cumplimenten alguno de los formularios de Piensa Solutions para participar en alguna de sus acciones comerciales, su finalidad ser&aacute; la participaci&oacute;n en las mismas, as&iacute; como el env&iacute;o de informaci&oacute;n publicitaria sobre los servicios de Piensa Solutions salvo que el interesado manifestase de forma expresa su oposici&oacute;n cuando sus datos sean recogidos. En cualquier caso, el interesado podr&aacute; modificar la opci&oacute;n acerca de la recepci&oacute;n de informaci&oacute;n comercial en cualquier momento, a trav&eacute;s de los medios disponibles para ello en Piensa Solutions.<br>La finalidad de la recogida y tratamiento de los datos en los casos de env&iacute;o de un correo electr&oacute;nico a Piensa Solutions o de una comunicaci&oacute;n de datos personales a trav&eacute;s de cualquier otro medio (como por ejemplo, un formulario de contacto publicado en <a href="http://www.piensa/" data-mce-href="http://www.piensa/">http://www.piensa/</a>solutions.com) ser&aacute; atender las consultas, dudas y solicitudes de informaci&oacute;n sobre Piensa Solutions y sus servicios.</li><li>Respecto a contrataci&oacute;n de los servicios de Piensa Solutions, los datos recogidos se limitar&aacute;n a los datos personales necesarios para establecer la relaci&oacute;n contractual con el cliente y posibilitar la prestaci&oacute;n de los servicios. Las finalidades con las que se recoger&aacute;n y tratar&aacute;n dichos datos ser&aacute;n las siguientes:<ul><li>El mantenimiento de la relaci&oacute;n contractual conforme a la naturaleza de los servicios contratados, siendo &eacute;sta la finalidad principal, de forma que Piensa Solutions pueda contactar con el cliente a trav&eacute;s del correo electr&oacute;nico, tel&eacute;fono o de cualquier otros medio indicado por &eacute;ste.</li><li>Para posibilitar el env&iacute;o de documentaci&oacute;n e informaci&oacute;n en relaci&oacute;n a los servicios contratados y para el env&iacute;o de comunicaciones comerciales  cuyo objeto sean dichos servicios u otros similares, a trav&eacute;s de e-mail, correo postal, tel&eacute;fono, SMS o de cualquier otro medio indicado por el cliente, salvo que &eacute;ste manifieste de forma expresa su oposici&oacute;n cuando realiza la contrataci&oacute;n. De forma independiente a la opci&oacute;n elegida por el cliente en el proceso de contrataci&oacute;n, el cliente podr&aacute; modificar su decisi&oacute;n en cualquier momento y tantas veces como desee, a trav&eacute;s del apartado espec&iacute;fico disponible en su &Aacute;rea de Cliente, eligiendo si desea recibir o no informaci&oacute;n comercial de Piensa Solutions.</li><li>El mantenimiento de los registros hist&oacute;ricos de las relaciones comerciales de Piensa Solutions, durante los plazos legalmente establecidos.</li><li>En los casos en los que el acceso o tratamiento por parte de Piensa Solutions se realice respecto de datos personales en los que el cliente tuviera la condici&oacute;n de responsable o de encargado del tratamiento, Piensa Solutions actuar&aacute; como encargado del tratamiento conforme a lo previsto en el art. 28 del RGPD. El apartado &ldquo;Piensa Solutions como encargado del tratamiento&rdquo; incluido en esta Pol&iacute;tica recoge m&aacute;s informaci&oacute;n al respecto.</li><li>Piensa Solutions proceder&aacute; a retener y a conservar determinados datos de tr&aacute;fico generados durante el desarrollo de las comunicaciones, as&iacute; como a comunicar dichos datos a los &oacute;rganos competentes siempre que concurran las circunstancias legales previstas, todo ello en cumplimiento de la  Ley 25/2007, de 18 de octubre, de conservaci&oacute;n de datos relativos a las comunicaciones electr&oacute;nicas y a las redes p&uacute;blicas de comunicaciones.</li><li>Para todas las finalidades que aparecieran recogidas de forma expresa en los contratos correspondientes a cada uno de los servicios contratados por el cliente y aceptados por &eacute;ste.</li></ul></li></ul><p>11.3 Destinatarios de los datos.</p><p>Ser&aacute;n destinatarios de los datos personales recogidos por Piensa Solutions:</p><ul><li>Aquellos proveedores de Piensa Solutions que participen en la prestaci&oacute;n de los servicios, si ello fuera necesario para posibilitar los mismos.</li><li>Las sociedades que forman parte del Grupo empresarial al que Piensa Solutions pertenece, entendido &eacute;ste conforme a lo establecido en el art. 42 del C&oacute;digo de Comercio, cuya actividad sea la comercializaci&oacute;n de servicios de igual o similar naturaleza ofrecidos por Piensa Solutions (por ejemplo, servicios de nombres de dominio, alojamiento web o comercio electr&oacute;nico).</li><li>Las Fuerzas y Cuerpos de Seguridad del Estado, as&iacute; como &oacute;rganos judiciales o administrativos, si la colaboraci&oacute;n de Piensa Solutions fuera requerida para proporcionar informaci&oacute;n relacionada con sus clientes o servicios, conforme a la Ley.</li><li>Cualquier otro que resulte necesario para posibilitar la prestaci&oacute;n de cada servicio en concreto, proporcion&aacute;ndose la informaci&oacute;n necesaria en los contratos de los servicios de Piensa Solutions, que son aceptados de forma expresa por los clientes.<br> <br></li></ul><p>11.4.- Plazo de conservaci&oacute;n de los datos.</p><p>La conservaci&oacute;n de los datos personales por parte de Piensa Solutions se realizar&aacute; durante el plazo de tiempo que fuera estrictamente necesario para cumplir las finalidades recogidas en la presente Pol&iacute;tica, manteniendo Piensa Solutions debidamente bloqueados dichos datos adem&aacute;s durante el per&iacute;odo en el que pudieran derivarse responsabilidades de su relaci&oacute;n con los clientes.</p><p>Respecto a los datos objeto de conservaci&oacute;n conforme a la Ley 25/2007, de 18 de octubre, de conservaci&oacute;n de datos relativos a las comunicaciones electr&oacute;nicas y a las redes p&uacute;blicas de comunicaciones, el per&iacute;odo de conservaci&oacute;n de los mismos ser&aacute; el detallado en dicha normativa.</p><p>11.5.- Derechos de los usuarios.</p><p>Los derechos de los usuarios en relaci&oacute;n a la recogida y tratamiento de datos por parte de Piensa Solutions son los siguientes, reconocidos por el RGPD:</p><ul><li>Derecho de acceso: Los usuarios tienen derecho a solicitar y obtener informaci&oacute;n de Piensa Solutions sobre sus datos personales, a acceder a ellos y a obtener informaci&oacute;n sobre su tratamiento.</li><li>Derecho a obtener una copia de sus datos personales.</li><li>Derecho de supresi&oacute;n: Los usuarios pueden solicitar la supresi&oacute;n de los datos cuando no resulten ya necesarios para la finalidad para la que se proporcionaron o si concurren el resto de circunstancias previstas por el RGPD.</li><li>Derecho de rectificaci&oacute;n: En el caso de que sus datos fueran incorrectos o incompletos, los usuarios tienen derecho a solicitar la rectificaci&oacute;n de los mismos.</li><li>Derecho de limitaci&oacute;n del tratamiento: En los casos previstos en el art. 18 del RGPD, los usuarios tienen derecho a solicitar que se limite el tratamiento de sus datos personales, de manera que no se apliquen a los mismos las operaciones de tratamiento que correspondan.</li><li>Derecho a la portabilidad: Los usuarios tienen derecho a recibir los datos personales que les incumban en un formato estructurado y de uso com&uacute;n, siendo requisitos necesarios que dichos datos incumban exclusivamente al usuario y hubieran sido facilitados por &eacute;ste a Piensa Solutions.       </li></ul><p>Para el ejercicio de sus derechos, los usuarios podr&aacute;n utilizar las siguientes v&iacute;as:</p><ul><li>En el caso de usuarios que sean clientes de Piensa Solutions: los clientes tienen a su disposici&oacute;n la herramienta &ldquo;&Aacute;rea de Cliente&rdquo;, a la que se accede de forma autenticada desde <a href="http://www.piensasolutions.com/" data-mce-href="http://www.piensasolutions.com/">http://www.piensasolutions.com/</a><u> y que dispone de un apartado espec&iacute;fico donde pueden comprobarse los datos en cualquier momento</u>.</li><li>En el caso tanto de usuarios no clientes como de clientes de Piensa Solutions: Tienen a su disposici&oacute;n la direcci&oacute;n de correo electr&oacute;nico <a href="mailto:info@piensasolutions.com" data-mce-href="mailto:info@piensasolutions.com">info@piensasolutions.com</a><u>, a la que podr&aacute;n enviar un e-mail para ejercer sus derechos. Si lo desean tambi&eacute;n pueden hacerlo</u> a trav&eacute;s del env&iacute;o de una petici&oacute;n acompa&ntilde;ada de su D.N.I. o documento v&aacute;lido que acredite su identidad, dirigida al Departamento Comercial de Tesys Internet S.L.U., C/ Circunde 16, Pol&iacute;gono Industrial La Portalada, 26006 Logro&ntilde;o (La Rioja) Espa&ntilde;a, l, especificando el derecho que desean ejercer.</li></ul><p>Piensa Solutions se reserva el derecho de cobrar un canon por los costes administrativos que se deriven en los casos de solicitudes manifiestamente infundadas o excesivas por su car&aacute;cter repetitivo, as&iacute; como el derecho de negarse a actuar respecto de las mismas, conforme al art. 12.5 RGPD.</p><p>11.6.- Transferencias internacionales.</p><p>En el caso de servicios de Piensa Solutions que requieran de la realizaci&oacute;n de transferencias internacionales para posibilitar la prestaci&oacute;n de los mismos, dicha circunstancia ser&aacute; indicada en el presente contrato, aceptado de forma expresa por &eacute;ste de forma previa a la misma.</p><p>11.7.- Autoridad de control.</p><p>En el caso de considerar que el tratamiento de sus datos personales no ha sido realizado conforme a la legislaci&oacute;n vigente, los usuarios podr&aacute;n comunicarlo a la autoridad de control que en cada caso corresponda. En Espa&ntilde;a, la autoridad de control es la Agencia Espa&ntilde;ola de Protecci&oacute;n de Datos, cuyos datos de contacto est&aacute;n publicados en <a href="http://www.agpd.es/portalwebAGPD/CanalDelCiudadano/contacteciudadano/index-ides-idphp.php" data-mce-href="http://www.agpd.es/portalwebAGPD/CanalDelCiudadano/contacteciudadano/index-ides-idphp.php">http://www.agpd.es/portalwebAGPD/CanalDelCiudadano/contacteciudadano/index-ides-idphp.php</a></p><p>11.8.- Piensa Solutions como encargado del tratamiento.</p><p>En relaci&oacute;n a los datos personales respecto de los cuales el cliente ostentase la condici&oacute;n de responsable o de encargado del tratamiento, Piensa Solutions tratar&aacute; dichos datos conforme al art. 28 RGPD y concordantes, cuando ello resulte necesario para la prestaci&oacute;n de los servicios contratados. Piensa Solutions actuar&aacute; en dicho caso como encargado del tratamiento, conforme a las condiciones indicadas a continuaci&oacute;n:</p><ul><li>Piensa Solutions tratar&aacute; dichos datos conforme a las instrucciones del cliente responsable o encargado del tratamiento, no utiliz&aacute;ndolos para un fin distinto al que figura en la presente Pol&iacute;tica y/o en las condiciones contractuales que sean de aplicaci&oacute;n.</li><li>Una vez cumplida la prestaci&oacute;n de los servicios objeto del tratamiento de los datos personales se proceder&aacute; a la destrucci&oacute;n de los mismos, al igual que a la de cualquier soporte o documentos en los que conste alg&uacute;n dato personal o cualquier informaci&oacute;n que se haya generado durante, para y/o por la prestaci&oacute;n de los servicios. No obstante, Piensa Solutions podr&aacute; mantener debidamente bloqueados dichos datos durante el per&iacute;odo en el que se pudieran derivar responsabilidades de su relaci&oacute;n con el cliente.</li><li>Conforme al art. 28 del RGPD, Piensa Solutions mantendr&aacute; el debido secreto profesional respecto de los datos personales a los que deba acceder y/o tratar con el fin de cumplir en cada caso con el objeto del contrato del servicio que le sea de aplicaci&oacute;n, tanto durante como despu&eacute;s de la terminaci&oacute;n de los mismos, comprometi&eacute;ndose a utilizar dicha informaci&oacute;n solo para la finalidad prevista en cada caso y a exigir igual nivel de compromiso a cualquier persona que dentro de su organizaci&oacute;n participe en cualquier fase del tratamiento de los datos personales responsabilidad del cliente.</li><li>En el caso de que Piensa Solutions destine los datos a otra finalidad o los comunique o utilice incumpliendo esta Pol&iacute;tica o sus correspondientes condiciones contractuales, ser&aacute; considerado responsable del tratamiento.</li><li>En relaci&oacute;n a la forma y modalidades de acceso a los datos en la prestaci&oacute;n de los servicios, conforme al RGPD resultar&aacute;n de aplicaci&oacute;n las siguientes reglas:</li></ul><ol><li>En el caso de que Piensa Solutions deba tener acceso a los recursos de tratamiento ubicados en las instalaciones del cliente, &eacute;ste ser&aacute; responsable de establecer e implementar la pol&iacute;tica y medidas de seguridad, as&iacute; como de comunicar las mismas a Piensa Solutions, quien se compromete a respetarlas y a exigir su cumplimiento a las personas que participen en la prestaci&oacute;n de los servicios.</li><li>Cuando Piensa Solutions acceda v&iacute;a remota a los recursos de tratamiento de datos responsabilidad del cliente, &eacute;ste deber&aacute; establecer e implementar la pol&iacute;tica y medidas de seguridad en sus sistemas de tratamiento remotos, siendo Piensa Solutions responsable de establecer e implementar la pol&iacute;tica y medidas de seguridad en sus propios sistemas locales.</li><li>En los casos en los que el servicio fuera prestado por Piensa Solutions en sus propios locales, Piensa Solutions recoger&aacute; en su Registro de Actividades las circunstancias sobre el tratamiento de datos en los t&eacute;rminos exigidos por el RGPD, incluyendo medidas de seguridad correspondientes a dicho tratamiento.  </li></ol><ul><li>Sin perjuicio de las disposiciones legales o reglamentarias espec&iacute;ficas vigentes que pudieran resultar aplicables en cada caso o de las medidas que por propia iniciativa adopte Piensa Solutions, el acceso y el tratamiento de los datos personales por parte de Piensa Solutions estar&aacute; sometido a las medidas de seguridad necesarias para:<ul><li>Garantizar la confidencialidad, integridad, disponibilidad y resiliencia permanentes de los sistemas y servicios de tratamiento.</li><li>Restaurar la disponibilidad y el acceso a los datos personales de forma r&aacute;pida, en caso de incidente f&iacute;sico o t&eacute;cnico.</li><li>Verificar, evaluar y valorar, de forma regular, la eficacia de las medidas t&eacute;cnicas y organizativas implantadas para garantizar la seguridad del tratamiento.</li><li>Seudonimizar y cifrar los datos personales, en su caso.</li></ul></li></ul><ul><li>El cliente autoriza a Piensa Solutions, en calidad &eacute;sta de encargado del tratamiento, a subcontratar con terceros en nombre y por cuenta del cliente, los servicios de almacenamiento, custodia de las copias de respaldo de datos y seguridad, as&iacute; como aqu&eacute;llos que fueran necesarios para posibilitar la prestaci&oacute;n de los servicios contratados, respectando en todo caso las obligaciones impuestas por el RGPD. El cliente podr&aacute; dirigirse a Piensa Solutions en cualquier momento para conocer la identidad de las entidades subcontratadas para la prestaci&oacute;n de dichos servicios, las cuales actuar&aacute;n conforme a los t&eacute;rminos previstos en este documento y previa formalizaci&oacute;n con Piensa Solutions de un contrato de tratamiento de datos conforme al art. 28.4 del RGPD.</li><li>El cliente presta su autorizaci&oacute;n a Piensa Solutions  para realizar las acciones que a continuaci&oacute;n se indican, siempre que sean necesarias para la ejecuci&oacute;n de la prestaci&oacute;n de los servicios, quedando dicha autorizaci&oacute;n limitada a la actuaci&oacute;n/es necesaria/s para prestar el servicio y con una duraci&oacute;n m&aacute;xima vinculada a las condiciones contractuales aplicables:<ul><li>A realizar el tratamiento de los datos personales en dispositivos port&aacute;tiles &uacute;nicamente por los usuarios o perfiles de usuarios asignados a la prestaci&oacute;n de los servicios.</li><li>A tratar los datos fuera de los locales del cliente o de Piensa Solutions, &uacute;nicamente por los usuarios o perfiles de usuarios asignados a la prestaci&oacute;n de los servicios.</li><li>A  la entrada y salida de soportes y documentos que contengan datos personales, incluidos los  que formen parte o se adjunten a un correo electr&oacute;nico, fuera de los locales bajo el control del cliente responsable del tratamiento.</li><li>La ejecuci&oacute;n de los procedimientos de recuperaci&oacute;n de datos que Piensa Solutions se vea en la obligaci&oacute;n de realizar.</li></ul></li></ul><ul><li>Piensa Solutions no se responsabiliza del incumplimiento de las obligaciones derivadas del RGPD o de la normativa correspondiente en materia de protecci&oacute;n de datos por parte del usuario y/o cliente en lo que a su actividad corresponda y que se encuentre relacionado con la ejecuci&oacute;n del contrato o relaciones comerciales que le unan a Piensa Solutions. Cada una de las partes deber&aacute; hacer frente a las responsabilidades derivadas de su propio incumplimiento de las obligaciones contractuales y de la normativa vigente.</li></ul><p>11.9 Datos del responsable del tratamiento.</p><p style="padding-left: 60px;" data-mce-style="padding-left: 60px;">Denominaci&oacute;n social: TESYS INTERNET, S.L.U.</p><p style="padding-left: 60px;" data-mce-style="padding-left: 60px;">NIF: B-26309096</p><p style="padding-left: 60px;" data-mce-style="padding-left: 60px;">Domicilio social: C/ Circunde 16, Pol&iacute;gono Industrial La Portalada, 26006 Logro&ntilde;o (La Rioja)</p><p style="padding-left: 60px;" data-mce-style="padding-left: 60px;">E-mail de contacto: <a href="mailto:info@piensasolutions.com" data-mce-href="mailto:info@piensasolutions.com">info@piensasolutions.com</a></p><p>11.10 Datos de contacto del Delegado de Protecci&oacute;n de Datos:</p><p>delegadopd@piensasolutions.com</p><h3>12&ordm; LIMITACI&Oacute;N DE GARANT&Iacute;A Y DE LA RESPONSABILIDAD</h3><p>12.1 En ning&uacute;n supuesto Piensa Solutions, ni los gerentes y altos cargos, administradores, accionistas, agentes o trabajadores dependientes de ella contraer&aacute;n responsabilidad alguna por causa, directa o indirecta, relacionada con la utilizaci&oacute;n que haga el cliente del servicio de Piensa Solutions.</p><p>12.2 Las partes reconocen que la puesta en vigor de este contrato, no supone ning&uacute;n tipo de representaci&oacute;n, delegaci&oacute;n, garant&iacute;a u otros acuerdos distintos a los expresamente descritos en este contrato; y de acuerdo con ello, todos los t&eacute;rminos, condiciones, garant&iacute;as u otros aspectos implicados por convenios o reglamentaci&oacute;n general, quedan expl&iacute;citamente excluidos hasta los l&iacute;mites permitidos por la Ley.</p><h3>13&ordm; LEGISLACI&Oacute;N APLICABLE Y TRIBUNALES COMPETENTES</h3><p>13.1 En lo no previsto en este contrato, as&iacute; como en la interpretaci&oacute;n y resoluci&oacute;n de los conflictos que pudieran surgir entre las partes como consecuencia del mismo, ser&aacute; de aplicaci&oacute;n la legislaci&oacute;n espa&ntilde;ola.</p><p>13.2 Si llegara a surgir alg&uacute;n conflicto o diferencia entre las partes en la interpretaci&oacute;n y ejecuci&oacute;n de este contrato, y no se resolviera de mutuo acuerdo, el mismo ser&aacute; resuelto a instancia de cualquiera de las partes y tras la comunicaci&oacute;n por escrito a la otra, mediante arbitraje en la Corte de Arbitraje de la C&aacute;mara de Comercio e Industria de La Rioja, el arbitraje se celebrar&aacute; en Logro&ntilde;o y ser&aacute; conducido de acuerdo con las normas de la ley de Arbitraje espa&ntilde;ola 60/2003, de 23 de diciembre, y el Reglamento de la Corte de la C&aacute;mara de Comercio e Industria de La Rioja.</p><p>En caso de que el conflicto sea planteado por un consumidor o usuario, se tramitar&aacute; bajo el procedimiento previsto en el RD 231/2008, de 15 de febrero, a trav&eacute;s del cual se regula el Sistema Arbitral de Consumo.</p><p>13.3 Para el caso de que el arbitraje no llegara a realizarse por mutuo acuerdo o fuese declarado nulo, ambas partes se someten a los Juzgados y Tribunales de la Ciudad de Logro&ntilde;o con renuncia a su propio fuero, si &eacute;ste fuese otro. En el caso de consumidores o usuarios, se estar&aacute; a lo dispuesto en la normativa procesal vigente.</p><p>13.4 De forma previa a los medios de soluci&oacute;n de conflictos mencionados en los apartados anteriores, en el caso de consumidores y usuarios, el cliente podr&aacute; dirigir sus quejas y reclamaciones a Piensa Solutions, preferentemente a trav&eacute;s de su AC. Piensa Solutions asignar&aacute; a cada queja o reclamaci&oacute;n recibida un n&uacute;mero de ticket que enviar&aacute; al cliente, de forma que &eacute;ste pueda identificarla y conocer su estado, comprometi&eacute;ndose Piensa Solutions a dar respuesta a la misma en el plazo m&aacute;ximo de un mes desde que el cliente la hubiera enviado.</p><p>13.5 Si el cumplimiento de este contrato resulta razonablemente posible, continuar&aacute; durante el curso de cualquier desacuerdo y/o procedimiento arbitral o judicial.</p><p>13.6 Si cualquier estipulaci&oacute;n de este contrato fuese declarada nula o sin efecto, en todo o en parte, por cualquier tribunal o autoridad competente, las restantes estipulaciones conservar&aacute;n su validez, salvo que las partes discrecionalmente decidan la terminaci&oacute;n del contrato.</p><h2>ANEXO- CARACTER&Iacute;STICAS T&Eacute;CNICAS, AMPLIACIONES Y PRECIOS DE LOS PLANES DE HOSTING</h2><h3>A) RECURSOS Y APLICACIONES INCLUIDOS:</h3><p>-&gt; CORREO BASIC</p><p>Caracter&iacute;sticas:</p><p>- 1 cuenta de correo POP3/IMAP4 de 2 GB de espacio.</p><p>- Webmail.</p><p>- 5 cuentas de correo redirigido.</p><p>- Frame activa.</p><p>- Alias ilimitados.</p><p>- Autorrespuestas.</p><p>- Antivirus/Antispam b&aacute;sico.</p><p>- P&aacute;gina de presentaci&oacute;n patrocinada por Piensa Solutions.</p><p>Ampliaciones (contrataci&oacute;n opcional):</p><p>- Filtro Antivirus/Antispam Avanzado.</p><p>Precio anual: 2,95 euros</p><p>-&gt; PLAN BASIC</p><p>Caracter&iacute;sticas:</p><p>- N&uacute;mero de dominios albergados: 1</p><p>- Web:</p><p>o 25 GB de espacio en disco.</p><p>o Ilimitada transferencia mensual.</p><p>o 1 cuenta FTP.</p><p>- Correo:</p><p>o 10 cuentas de correo POP3/IMAP4 de 2 GB cada una.</p><p>o 20 cuentas de correo redirigido.</p><p>o Alias ilimitados.</p><p>o Autorrespuestas.</p><p>o Cuenta catch all.</p><p>o Webmail.</p><p>o Transferencia ilimitada.</p><p>o Antivirus/Antispam b&aacute;sico.</p><p>- Programaci&oacute;n:</p><p>o CGI -BIN propio.</p><p>o PHP.</p><p>o Perl.</p><p>o Python.</p><p>o SSI (Server Side Include).</p><p>o Html, CSS y JavaScript</p><p>- Bases de datos:</p><p>o 1 base de datos MySQL de 1 GB de espacio.</p><p>- Gesti&oacute;n De Dominio:</p><p>o Panel de control para administrar todos los recursos del dominio.</p><p>o Gesti&oacute;n del DNS del dominio.</p><p>o Soporte / Administraci&oacute;n:</p><p>o &Aacute;rea de cliente privada para gestionar el dominio.</p><p>o Soporte t&eacute;cnico gratuito por correo electr&oacute;nico con sistema de tickets.</p><p>Ampliaciones (contrataci&oacute;n opcional):</p><p>- Filtro Antivirus/Antispam Avanzado.</p><p>- Certificado de Seguridad (SSL).</p><p>- Espacio en disco para buzones de correo.</p><p>Precio trimestral: 5,85 euros</p><p>Precio anual: 21 euros</p><p>-&gt; PLAN PREMIUM</p><p>Caracter&iacute;sticas:</p><p>- N&uacute;mero de dominios albergados: 1</p><p>- Web:</p><p>o 100 GB de espacio en disco.</p><p>o Ilimitada transferencia mensual.</p><p>o 10 cuentas FTP.</p><p>o 5 subdominios</p><p>o Directorios virtuales.</p><p>o Directorios protegidos por contrase&ntilde;a.</p><p>- Correo:</p><p>o 50 cuentas de correo POP3/IMAP4 de 2 GB cada una.</p><p>o 100 cuentas de correo redirigido.</p><p>o 1 lista de correo.</p><p>o Alias ilimitados.</p><p>o Autorrespuestas.</p><p>o Cuenta catch all.</p><p>o Webmail.</p><p>o Transferencia ilimitada.</p><p>o Antivirus/Antispam b&aacute;sico.</p><p>- Programaci&oacute;n:</p><p>o CGI -BIN propio.</p><p>o PHP.</p><p>o Perl.</p><p>o Python.</p><p>o SSI (Server Side Include).</p><p>o Html, CSS y JavaScript</p><p>- Bases De Datos:</p><p>o 5 bases de datos MySQL de 1GB de espacio cada una.</p><p>o Gestor de bases de datos MySQL: phpMyAdmin.</p><p>- Gesti&oacute;n De Dominio:</p><p>o Panel de control para administrar todos los recursos del dominio.</p><p>o Gesti&oacute;n del DNS del dominio.</p><p>- Soporte / Administraci&oacute;n:</p><p>o &Aacute;rea de cliente privada para gestionar el dominio.</p><p>o Soporte t&eacute;cnico gratuito por correo electr&oacute;nico con sistema de tickets.</p><p>o Sitemap autom&aacute;tico para buscadores.</p><p>Ampliaciones (contrataci&oacute;n opcional):</p><p>- Filtro Antivirus/Antispam Avanzado.</p><p>- Certificado de Seguridad (SSL).</p><p>-Espacio en disco para buzones de correo.  </p><p>Precio:</p><p>Pago trimestral: 14,85 euros<br>Pago anual: 53,40 euros</p><p>-&gt; PLAN UNLIMITED</p><p>Caracter&iacute;sticas:</p><p>- N&uacute;mero de dominios albergados: 1</p><p>- Web:</p><p>o Ilimitado espacio en disco.</p><p>o Ilimitada transferencia mensual.</p><p>o 50 cuentas FTP.</p><p>o 15 subdominios</p><p>o Directorios virtuales.</p><p>o Directorios protegidos por contrase&ntilde;a.</p><p>o 1 Certificado de Seguridad Basic SSL powered by Symantec gratuito (limitado a 1  certificado por producto).</p><p>- Correo:</p><p>o Ilimitadas cuentas de correo POP3/IMAP4 de 2 GB cada una.</p><p>o 200 cuentas de correo redirigido.</p><p>o 5 listas de correo.</p><p>o Alias ilimitados.</p><p>o Autorrespuestas.</p><p>o Cuenta catch all.</p><p>o Webmail.</p><p>o Transferencia ilimitada.</p><p>o Antivirus/Antispam b&aacute;sico.</p><p>- Programaci&oacute;n:</p><p>o CGI -BIN propio.</p><p>o PHP.</p><p>o Perl.</p><p>o Python.</p><p>o SSI (Server Side Include).</p><p>o Html, CSS y JavaScript</p><p>- Bases De Datos:</p><p>o Ilimitadas bases de datos MySQL de 1GB cada una.</p><p>o Gestor de bases de datos MySQL: phpMyAdmin.</p><p>- Gesti&oacute;n De Dominio:</p><p>o Panel de control para administrar todos los recursos del dominio.</p><p>o Gesti&oacute;n del DNS del dominio.</p><p>- Soporte / Administraci&oacute;n:</p><p>o &Aacute;rea de cliente privada para gestionar el dominio.</p><p>o Soporte t&eacute;cnico gratuito por correo electr&oacute;nico con sistema de tickets.</p><p>o Sitemap autom&aacute;tico para buscadores.</p><p>Ampliaciones (contrataci&oacute;n opcional):</p><p>- Filtro Antivirus Antispam Avanzado.</p><p>- Certificado de Seguridad (SSL).</p><p>- Espacio en disco para buzones de correo.</p><p>Precio:</p><p>Pago trimestral: 29,85 euros<br>Pago anual: 107,40 euros</p><h3>B) AMPLIACIONES</h3><p><br>1.- FILTRO ANTIVIRUS ANTISPAM AVANZADO:</p><p>Este recurso adicional s&oacute;lo ser&aacute; de aplicaci&oacute;n a los Planes que a continuaci&oacute;n se se&ntilde;alan y con el precio que se determina para cada uno:</p><p>- Correo Basic: 2 euros al a&ntilde;o.</p><p>- Plan Basic: 1 euro al mes.</p><p>- Plan Premium: 2 euros al mes.</p><p>- Plan Unlimited: 3 euros al mes.</p><p>2.- CERTIFICADOS DE SEGURIDAD (SSL)<br><br>Piensa Solutions ofrece a los clientes de los Planes de Hosting, la posibilidad de solicitar un Certificado de Seguridad (SSL).<br><br>El Certificado de Seguridad (SSL) permite disponer de un sitio web seguro, donde los usuarios puedan intercambiar informaci&oacute;n sin riesgos, asegurando la autentificaci&oacute;n, confidencialidad e integridad de los datos que se transmiten a trav&eacute;s de Internet.</p><p>El cliente podr&aacute; solicitar el Certificado de Seguridad (SSL) desde el Panel de Control de su Plan de Hosting y Piensa Solutions se encargar&aacute; de tramitar su solicitud e instalaci&oacute;n.</p><p>Los diferentes modelos y tarifas de Certificados de Seguridad (SSL) ofrecidos por Piensa Solutions, se encuentran actualizados para su consulta en <a href="http://www.piensasolutions.com/" data-mce-href="http://www.piensasolutions.com/">http://www.piensasolutions.com/</a><br><br>El pago se realizar&aacute; por adelantado, bien por transferencia o bien por tarjeta de cr&eacute;dito y una vez verificado el mismo, Piensa Solutions comenzar&aacute; su tramitaci&oacute;n.</p><p>3.&ndash; ESPACIO EN DISCO PARA BUZONES DE CORREO</p><p>Este recurso adicional s&oacute;lo ser&aacute; de aplicaci&oacute;n a los Planes Basic, Premium y Unlimited, con el espacio y precio determinado para cada uno de ellos:</p><ul><li>Ampliaci&oacute;n a 5 GB:<ul><li>Tarifa trimestral: 3,00 &euro;  </li><li>Tarifa anual: 12,00 &euro;</li></ul></li><li>Ampliaci&oacute;n a 10 GB:<ul><li>Tarifa trimestral: 6,00 &euro;  </li><li>Tarifa anual: 24,00 &euro;</li></ul></li><li>Ampliaci&oacute;n a 25 GB:<ul><li>Tarifa trimestral: 15,00 &euro;</li><li>Tarifa anual: 60,00 &euro;</li></ul></li></ul><p> <br></p>